.productsContainer {
  max-width: 1300px;
  outline: 2px solid black;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  padding: 1.2em;
  background-color: #355360;
}

@media screen and (max-width: 56.5em) {
  .productsContainer {
    display: grid;
    grid-template-columns: 1fr;
  }
}
