.mainContainer {
  /* outline: 2px solid black; */
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 40px; */
  background-color: #8eb2c0;
}

.mainContent {
  /* outline: 2px solid black; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.aboutImg {
  height: 500px;
  /* width: 400px;
   */
  width: 100%;
  object-fit: contain;
}

@media (max-width: 546px) {
  .mainContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  p {
    /* text-align: center; */
  }
}
