.mainContainer {
  max-width: var(--max-width);
  margin: 0 auto;
  height: var(--height);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--nav-padding);
}

.mainContent p {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  align-items: center;
  line-height: 1.5;
}

@media screen and (max-width: 570px) {
  .mainContent p {
    text-align: center;
  }
}
