.emptyCartContainer {
  max-width: var(--max-width);
  margin: 0 auto;
  height: var(--height);
  padding: var(--nav-padding);
  display: flex;
  justify-content: center;
  background-color: var(--nav-amount-cart-bg-color);
  align-items: center;
  margin-bottom: var(--shopping-link-container-margin-top);
}

.emptyCartContent {
  width: var(--empty-cart-content-width);
  height: var(--empty-cart-height);
  display: flex;
  justify-content: center;
  margin-top: var(--empty-cart-margin-bottom);
  background-color: var(--footer-content-color);
}

.emptyCartSubContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: var(--empty-cart-sub-content-gap);
}

.btnShopNowContainer {
  display: flex;
  justify-content: center;
}

.btnShopNow {
  margin-top: var(--empty-cart-margin-bottom);
  text-align: center;
  background-color: var(--footer-container-bg-color);
  padding: var(--btn-shop-now-padding);
  color: var(--footer-content-color);
  border: 0;
  border-radius: var(--btn-shop-now-border-radius);
}

.btnShopNow:hover {
  cursor: pointer;
}

/* these styles above are used if the cart is empty */

.productsCartWrapper {
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: var(--nav-amount-cart-bg-color);
  margin-bottom: var(--section-content-right-margin-bottom);
  padding: var(--product-cart-wrapper-padding);
}

.productCartSubWrapper {
  display: flex;
  flex-direction: column;
  width: var(--section-image-width);
  padding: var(--product-cart-sub-wrapper-padding);
}

.productsCartContainer {
  display: flex;
  justify-content: space-between;
  height: var(--nav-image-height);
  width: var(--section-image-width);
}

.productsContent {
  display: flex;
  flex-direction: column;
  width: var(--section-image-width);
  height: var(--product-cart-container-height);
}

.productsAddedToCart {
  text-align: center;
  padding: var(--nav-amount-cart-items-width);
  background-color: var(--footer-content-color);
}

.productImgContainer {
  height: var(--product-img-container-height);
  max-width: var(--clothing-store-image-width);
}

.productDescription {
  align-items: flex-end;
  justify-content: space-around;
  display: flex;
  align-self: flex-end;
}

.productQuantity {
  width: var(--product-quality-input-width);
  -moz-appearance: textfield;
  text-align: center;
}

.estimatedPriceContainer {
  outline: var(--nav-amount-cart-border-bg-color);
  width: var(--main-content-width);
  max-height: var(--btn-pay-container-height);
  display: flex;
  flex-direction: column;
  margin: var(--estimated-price-container-margin);
  background-color: var(--footer-content-color);
  padding: var(--estimated-price-container-padding);
}

.estimatedTotal {
  display: flex;
  justify-content: space-between;
  padding: var(--estimated-total-padding);
}

.btnPayContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--btn-pay-container-height);
}

.buttonIncrementQuantity,
.buttonDecrementQuantity {
  padding: var(--btn-increment-quality-padding);
  background-color: var(--nav-amount-cart-bg-color);
  border: 0;
  color: var(--nav-amount-cart-color);
}

.removeButton,
.proceedToCheckoutBtn {
  padding: var(--estimated-price-container-padding);
  background-color: var(--nav-amount-cart-bg-color);
  border: 0;
  color: var(--nav-amount-cart-color);
}

.productImg {
  width: var(--product-img-width);
}

.buttonDecrementQuantity:hover,
.buttonIncrementQuantity:hover,
.removeButton:hover,
.proceedToCheckoutBtn:hover {
  cursor: pointer;
}

.paypalImage {
  width: var(--section-image-width);
}

@media screen and (max-width: 770px) {
  .productsCartWrapper {
    display: flex;
    flex-direction: column;
  }

  .estimatedPriceContainer {
    margin: 0 auto;
    margin-top: var(--section-content-right-margin-bottom);
  }
}

@media screen and (max-width: 500px) {
  .emptyCartContent {
    width: var(--section-image-width);
  }

  .estimatedPriceContainer {
    width: var(--main-content-paragraph-width);
  }
}

@media screen and (max-width: 420px) {
  .productDescription {
    display: flex;
    gap: var(--shopping-link-content-gap);
    width: var(--clothing-store-image-width);
    flex-direction: column;
    align-items: center;
  }

  .estimatedPriceContainer {
    margin-top: var(--estimated-price-container-smaller-screen-margin-top);
  }
}
