.emptyCartContainer {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #8eb2c0;
  max-width: 1300px;
  margin: 0 auto;
  align-items: center;
  padding: 1.2em;
}

.emptyCartContent {
  /* outline: 2px solid black; */
  /* height: 500px; */
  /* height: auto; */
  width: 80%;
  height: 500px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: #f3f6f0;
}

.emptyCartSubContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.btnShopNowContainer {
  display: flex;
  justify-content: center;
}

.btnShopNow {
  margin-top: 20px;
  text-align: center;
  background-color: #8a6460;
  padding: 5px;
  color: white;
  border: 0;
  border-radius: 2.5px;
}

.btnShopNow:hover {
  cursor: pointer;
}

/* these styles above are used if the cart is empty */

.productsCartWrapper {
  max-width: 1300px;
  padding: 1.2em;
  margin: 0 auto;
  /* height: 100vh; */
  display: flex;
  justify-content: space-between;
  background-color: #8eb2c0;
}

.productsCartContainer {
  /* outline: 2px solid black; */
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
}

.productsContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 150px;
}

.productsAddedToCart {
  text-align: center;
  padding: 20px;
  background-color: white;
}

.productImgContainer {
  /* outline: 2px solid black; */
  height: 100px;
  max-width: 100%;
}

.productDescription {
  align-items: flex-end;
  justify-content: space-around;
  display: flex;
  align-self: flex-end;
}

.productQuantity {
  width: 50px;
  /* outline: 2px solid black; */
  -moz-appearance: textfield;
  text-align: center;
  margin-bottom: 0;
}

.estimatedPriceContainer {
  outline: 2px solid black;
  width: 50%;
  height: 500px;
  display: flex;
  margin-right: 20px;
  margin-top: 20px;
  flex-direction: column;
  background-color: white;
  flex-shrink: 1;
  padding: 0.3em;
}

.productCartSubWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.estimatedTotal {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.btnPayContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.buttonIncrementQuantity,
.buttonDecrementQuantity,
.removeButton,
.proceedToCheckoutBtn {
  /* width: 25px; */
  padding: 2px 5px 2px 5px;
  /* margin-top: 10px; */
  background-color: #355360;
  border: 0;
  color: white;
}

.productImg {
  width: 75px;
}

.buttonDecrementQuantity:hover,
.buttonIncrementQuantity:hover,
.removeButton:hover,
.proceedToCheckoutBtn:hover {
  cursor: pointer;
}

.paypalImage {
  width: 100%;
}

@media screen and (max-width: 770px) {
  .productsCartWrapper {
    display: flex;
    flex-direction: column;
  }

  .estimatedPriceContainer {
    margin: 0 auto;
    margin-top: 2em;
  }
}

@media screen and (max-width: 500px) {
  .emptyCartContent {
    width: 100%;
  }

  .estimatedPriceContainer {
    width: 90%;
  }
}

@media screen and (max-width: 420px) {
  .productDescription {
    display: flex;
    gap: 0.5em;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .estimatedPriceContainer {
    margin-top: 7em;
  }
}
