.footerContainer {
  height: auto;
  background-color: #f3f6f0;
}

.footerContent {
  outline: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.footerStoreImg {
  max-height: 50px;
}

.footerSvgs {
  width: 30px;
}

.footerUsefulLinks {
  display: flex;
  align-items: center;
}

.locationContainer,
.phoneContainer,
.emailContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.socialNetworksContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

li {
  margin-top: 10px;
}

@media (max-width: 700px) {
  .footerContent,
  .locationContainer,
  .phoneContainer,
  .emailContainer,
  .footerUsefulLinks .footerStoreImg,
  .homeLink,
  .productsLink,
  .aboutLink,
  .contactUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .footerStoreImg {
    margin-top: 10px;
  }

  .contactUs {
    margin-bottom: 10px;
  }
}
