.sectionContainer {
  max-width: var(--max-width-section);
  margin: 0 auto;
  background-color: var(--footer-container-bg-color);
  margin-bottom: var(--section-container-margin-bottom);
  padding: var(--nav-padding);
}

.mainContentHeader {
  margin: var(--main-content-header-margin);
  color: var(--footer-content-color);
  font-size: var(--main-content-header-font-size);
}

.mainContentSubHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.mainContentParagraph {
  font-size: var(--main-content-paragraph-font-size);
  margin-left: var(--section-container-margin-bottom);
  color: var(--footer-content-color);
}

.mainContentParagraph:nth-child(2) {
  margin: var(--main-content-paragraph-margin);
}

.mainContentSpan {
  font-size: var(--main-content-paragraph-font-size);
  margin: var(--main-content-paragraph-margin);
}

.dropDownMenu {
  border: 1px solid var(--footer-content-color);
  background-color: transparent;
  text-align: center;
  font-size: var(--main-content-paragraph-font-size);
  color: var(--footer-content-color);
}

.dropDownMenu:hover {
  background-color: var(--footer-container-bg-color);
}

@media screen and (max-width: 400px) {
  .mainContentParagraph,
  .dropDownMenu {
    font-size: var(--main-content-paragraph-smaller-screen-font-size);
  }
}
