.mainContainer {
  outline: 2px solid black;
}

.dropDownMenu {
  border: 1px solid #fff;
  background-color: transparent;
  text-align: center;
  font-size: 17px;
}

.dropDownMenu:hover {
  background-color: #8eb2c0;
}

.mainContentSubHeader {
  /* outline: 2px solid black; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  justify-content: flex-start;
  margin-left: 20px;
}

span {
  font-size: 12px;
  margin-left: 5px;
  margin-right: 5px;
}

p:nth-child(2) {
  margin-left: 5px;
  margin-right: 5px;
}

.mainContentHeader {
  background-color: #f3f6f0;
}

.shop {
  /* text-align: center; */
  margin-left: 20px;
  margin-top: 5px;
}
