.homePageSectionOneContainer {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
}

.homePageSectionOneContentLeft {
  display: flex;
  align-items: center;
  width: 50%;
}

.homePageSectionOneImageContainer {
  width: 50%;
}

.homePageSectionOneContentParagraph {
  width: 100%;
  font-size: 1.3rem;
}

.homePageSectionOneBorder {
  border-bottom: 2px solid black;
  margin-bottom: 0.5em;
  width: 100%;
}

.homePageSectionOneContentRight {
  display: flex;
  flex-direction: column;
}

.homePageSectionOneImage {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

@media screen and (max-width: 770px) {
  .homePageSectionOneContainer {
    flex-direction: column;
  }

  .homePageSectionOneContentParagraph {
    width: 50%;
    margin: 0 auto;
  }

  .homePageSectionOneContentLeft,
  .homePageSectionOneImageContainer {
    width: 100%;
  }

  .homePageSectionOneContentLeft {
    text-align: center;
  }

  .homePageSectionOneBorder {
    display: none;
  }
}

@media screen and (max-width: 520px) {
  .homePageSectionOneContentParagraph {
    width: 100%;
  }
}
