.mainContainer {
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  padding: var(--nav-padding);
}

.mainContentLeft {
  padding: var(--main-content-padding);
  width: var(--main-content-width);
}

.mainContentHeader {
  font-size: var(--main-content-header-font-size);
  width: var(--main-content-header-width);
  text-align: center;
}

.mainContentHeaderSpan:not(.mainContentHeader) {
  font-weight: 400;
}

h2 .mainContentHeaderSpan {
  font-size: var(--main-content-header-font-size);
  margin-left: var(--main-content-span-margin-left);
  display: block;
}

.mainContentDescription {
  margin-top: var(--main-content-description-margin-top);
}

.mainContentParagraph {
  width: var(--main-content-paragraph-width);
}

.shoppingLinkContainer {
  outline: 2px solid black;
  display: inline-block;
  margin-top: var(--shopping-link-container-margin-top);
  padding: var(--shopping-link-container-padding);
  border-radius: var(--shopping-link-container-border-radius);
  box-shadow: var(--shopping-link-container-box-shadow);
  text-transform: uppercase;
  font-weight: var(--shopping-link-container-font-weigh);
}

.shoppingLinkContent {
  display: flex;
  gap: var(--shopping-link-content-gap);
}

.shoppingArrowSVG {
  width: var(--shopping-arrow-svg-width);
}

.mainContentRight {
  width: var(--main-content-width);
}

.clothingStoreImg {
  width: var(--clothing-store-image-width);
  height: var(--clothing-store-image-height);
  object-fit: cover;
}

@media screen and (max-width: 770px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
  }

  .mainContentLeft,
  .mainContentRight {
    width: var(--clothing-store-image-width);
  }

  .mainContentParagraph {
    width: var(--main-content-paragraph-width);
  }
}

@media screen and (max-width: 400px) {
  .mainContentHeader {
    width: var(--clothing-store-image-width);
  }
}
