.headerContainer {
  padding: var(--nav-padding);
}

.navContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.storeLogo {
  width: var(--nav-image-width);
  height: var(--nav-image-height);
  object-fit: cover;
}

.navBarCart {
  width: var(--nav-cart-image);
}

.amountOfProductsContainer {
  position: relative;
}

.amountItemsInCart {
  position: absolute;
  top: 0%;
  right: 0%;
  width: var(--nav-amount-cart-items-width);
  border: var(--nav-amount-cart-border-bg-color);
  border-radius: 50%;
  background-color: var(--nav-amount-cart-bg-color);
  color: var(--nav-amount-cart-color);
  text-align: center;
}

@media screen and (max-width: 620px) {
  .storeLogo {
    width: var(--nav-image-small-screen-width);
    height: var(--nav-image-small-screen-height);
  }
}

.navBarCart {
  width: var(--nav-amount-small-screen-width);
  height: var(--nav-amount-small-screen-height);
}

@media screen and (max-width: 600px) {
  .headerContainer {
    padding: var(--nav-small-screen-padding);
  }
}
