.headerContainer {
  padding: 1.2em;
}

.navContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.storeLogo {
  width: 200px;
  height: 50px;
  object-fit: cover;
}

.navBarCart {
  width: 40px;
}

.amountOfProductsContainer {
  position: relative;
}

.amountItemsInCart {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 20px;
  border: 2px solid #8eb2c0;
  border-radius: 50%;
  background-color: #8eb2c0;
  color: white;
  text-align: center;
}

@media screen and (max-width: 620px) {
  .storeLogo {
    width: 7rem;
    height: 100%;
  }
}

.navBarCart {
  width: 2.5rem;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .headerContainer {
    padding: 1.5em 0.5em;
  }
}
