.productsContent {
  outline: 2px solid black;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
}

.productsImg {
  height: 150px;
  margin-bottom: 10px;
}

.productsDescription {
  text-align: center;
  padding: 5px;
}

input {
  width: 50px;
  margin-bottom: 20px;
  text-align: center;
  -moz-appearance: textfield;
}

.productPrice {
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttonIncrementQuantity,
.buttonDecrementQuantity {
  /* width: 25px; */
  padding: 0 5px 0 5px;
  margin-top: 10px;
  background-color: #355360;
  /* border: 0; */
  color: white;
}

.productsRatingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.addToCartBtnContainer {
  margin-top: 10px;
  /* background-color: #355360; */
}

.buttonIncrementQuantity {
  margin-right: 2px;
}

.addToCartBtn {
  background-color: #355360;
  color: #f3f6f0;
  padding: 6px;
  border: 0;
  border-radius: 6px;
}

.addToCartBtn:hover,
.buttonDecrementQuantity:hover,
.buttonIncrementQuantity:hover {
  cursor: pointer;
}

.productName {
  text-wrap: pretty;
  padding: 2px;
}

img:hover {
  cursor: pointer;
}
