.mainContainer {
  outline: 2px solid black;
  height: 100vh;
}

.dropDownMenu {
  border: 1px solid #fff;
  background-color: transparent;
  text-align: center;
  font-size: 17px;
  /* width: 180px; */
}

.dropDownMenu:hover {
  background-color: lightblue;
}

.mainContentSubHeader {
  outline: 2px solid black;
  display: flex;
  align-items: center;
}

span {
  font-size: 12px;
}

p:nth-child(2) {
  margin-left: 5px;
  margin-right: 5px;
}

.productsContainer {
  outline: 2px solid black;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}

.productsContent {
  outline: 2px solid black;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.productsImg {
  height: 140px;
  margin-bottom: 10px;
}

.productsDescription {
  /* outline: 2px solid black; */
  text-align: center;
}

input {
  width: 50px;
  margin-bottom: 20px;
  text-align: center;
  -moz-appearance: textfield;
}

.productPrice {
  margin-top: 10px;
}

.buttonIncrementQuantity,
.buttonDecrementQuantity {
  width: 25px;
}
