.productsContent {
  outline: 2px solid black;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
}

.productsContent p,
.productRatingSlash {
  font-size: 1.15rem;
}

.productsImgContainer {
  /* outline: 2px solid black; */
  margin-top: 1em;
  width: 140px;
}

.productsImg {
  max-width: 100%;
  height: auto;
  /* margin-bottom: 10px; */
}

.productsDescription {
  text-align: center;
  padding: 5px;
}

input {
  width: 50px;
  margin-bottom: 20px;
  text-align: center;
  -moz-appearance: textfield;
  appearance: textfield;
}

.productPrice {
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttonIncrementQuantity,
.buttonDecrementQuantity {
  /* width: 25px; */
  padding: 0 0.8rem 0 0.8rem;
  margin-top: 10px;
  background-color: #355360;
  /* border: 0; */
  color: white;
}

.productsRatingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.addToCartBtnContainer {
  margin-top: 10px;
  /* background-color: #355360; */
}

.buttonIncrementQuantity {
  margin-right: 2px;
}

.addToCartBtn {
  background-color: #355360;
  color: #f3f6f0;
  padding: 0.5em 2em;
  border: 0;
  border-radius: 6px;
}

.addToCartBtn:hover,
.buttonDecrementQuantity:hover,
.buttonIncrementQuantity:hover {
  cursor: pointer;
}

.productName {
  text-wrap: pretty;
  padding: 2px;
}

img:hover {
  cursor: pointer;
}
