:root {
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

li:hover {
  margin-bottom: -2px;
  border-bottom: 2px solid black;
}

a {
  text-decoration: none;
  color: black;
}
